

<div>
    <h1>Add New Movie</h1>
    <h2>Direcives</h2>
    <p>Password1</p><visible-password pass='{{password1}}'></visible-password>
    <p>Password2</p><visible-password pass='password2'></visible-password>
    <p>Password2</p><visible-password pass='password2'></visible-password>

    <h2>Tags of View</h2>
    <p>password1:<input type='text' ng-model='password1'/> {{password1}}</p>
    <p>password2:<input type='text' ng-model='password2'/> {{password2}}</p>
    <p>password3:<input type='text' ng-model='password3'/> {{password3}}</p>


</div>