<welcome></welcome>

<div welcome click-to-dismiss>
    <h2>I am a child header</h2>
</div>



<!-- welcome -->

<input type='checkbox' ng-model='hideImage' /> Hide Images
| Order By 
<select ng-model='orderField'>
    <option selected value='Title' >Title</option>
    <option value='Year'>Year</option>
    <option value='-imdbRating' >Rating</option>
</select>
<input type='checkbox' ng-model='reverseSort' /> Reverse
| <input type='search' placeholder='Search Within Result' class='' ng-model='searchTerm' />

| <range value='imageSize' 
         min='25' 
         max='100' 
         delta='5' 
         changed='onRangeChanged(value)' ></range>

    {{rangeChangeMessage}}
<div class='row'>

    <movie-info ng-repeat='movie in movies|orderBy:orderField:reverseSort'>
    </movie-info>
</div>

<p>Total Movies : {{movies.length}}</p>
